<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960900583758-ifjjrtvq2vleucpafr7692ls49vldll9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960900583758-ifjjrtvq2vleucpafr7692ls49vldll9</string>
	<key>API_KEY</key>
	<string>AIzaSyBE2PiLm7IeHTY-U7dD7-HvVJwoHfta-B4</string>
	<key>GCM_SENDER_ID</key>
	<string>960900583758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dache.MorningBear</string>
	<key>PROJECT_ID</key>
	<string>morningbear-cb463</string>
	<key>STORAGE_BUCKET</key>
	<string>morningbear-cb463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960900583758:ios:f36a1f90c8e8700d6ece1f</string>
</dict>
</plist>